<!--The content below is only a placeholder and can be replaced.-->


<nav class="navbar navbar-expand-md navbar-dark  bg-dark " style="padding-left : 25%; ">

  <a class="navbar-brand" href="#">Apple</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault" >
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item padding-list">
        <a class="nav-link" href="//www.apple.com/mac/">Mac</a>
      </li>
      <li class="nav-item padding-list">
        <a class="nav-link" href="//www.apple.com/ipad/">iPad</a>
      </li>
      <li class="nav-item padding-list">
        <a class="nav-link" href="//www.apple.com/iphone/">iPhone</a>
      </li>
      <li class="nav-item padding-list">
        <a class="nav-link" href="//www.apple.com/watch/">Watch</a>
      </li>
      <li class="nav-item padding-list">
        <a class="nav-link" href="//www.apple.com/tv/">TV</a>
      </li>
      <li class="nav-item padding-list">
        <a class="nav-link" href="//www.apple.com/music/">Music</a>
      </li>
      <li class="nav-item padding-list">
        <a class="nav-link" href="https://support.apple.com">Support</a>
      </li>    
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <!--  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
       <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>--> 
    </form>
  </div>
</nav>

<main role="main" class="container">
  <div class="starter-template "  style="padding-left : 25%;">
    <h1 style=" padding: 5%; font-family: Arial, Helvetica, sans-serif">System Status</h1>
  </div>
  <div style="margin-left: 15%; margin-right : 25%; font-family: Arial, Helvetica, sans-serif">
      <table class="table table-bordered">
      
          <tbody>
            <tr>             
              <td> <div >
                  <img src="../assets/download.svg" alt="Smiley face" height="11" width="11">
                  App Store
              </div></td>
              <td> <div>
                  <img src="../assets/download.svg" alt="Smiley face" height="11" width="11">
                  Game Center
              </div></td>              
              <td> <div>
                  <img src="../assets/download.svg" alt="Smiley face" height="11" width="11">
                  iTunes U
              </div></td>
            </tr>
            <tr>             
               <td> <div>
                    <img src="../assets/download.svg" alt="Smiley face" height="11" width="11">
                    Apple Books
                </div></td>
                <td> <div>
                    <img src="../assets/download.svg" alt="Smiley face" height="11" width="11">
                    iCloud Account & Sign In
                </div></td>
                
                <td> <div>
                    <img src="../assets/download.svg" alt="Smiley face" height="11" width="11">
                    iWork for iCloud
                </div></td>
              </tr>
              <tr>
             
                  <td> <div>
                      <img src="../assets/download.svg" alt="Smiley face" height="11" width="11">
                      Apple Business Manager
                  </div></td>
                  <td> <div>
                      <img src="../assets/download.svg" alt="Smiley face" height="11" width="11">
                      iCloud Backup
                  </div></td>
                  
                  <td> <div>
                      <img src="../assets/download.svg" alt="Smiley face" height="11" width="11">
                      Mac App Store
                  </div></td>
                </tr>
                <tr>
             
                    <td> <div>
                        <img src="../assets/download.svg" alt="Smiley face" height="11" width="11">
                        Apple ID
                    </div></td>
                    <td> <div>
                        <img src="../assets/download.svg" alt="Smiley face" height="11" width="11">
                        iCloud Bookmarks & Tabs
                    </div></td>
                    
                    <td> <div>
                        <img src="../assets/download.svg" alt="Smiley face" height="11" width="11">
                        macOS Software Update
                    </div></td>
                  </tr>
           </tbody>
        </table>

  </div>
  
  </main>